## Outlier (aykırı değer) : bir veri seti içerisindeki diğer gözlemlerden aykırı ve sapan gözlem veya veri değeridir

### Outlier nedenleri ?
#### [] insan kaynaklı hatalar (hatalı veri girişi)
#### [] cihazlardan kaynaklanan hatalar (ölçüm cihazlarının nadiren de olsa yanlış değer ölçmesi)

#

### Outlier değeri nasıl bulunur ?

#### alt limit ile üst limit bulunur. Bu iki limit arasında olmayan değerler outlierdır
#### Alt limit = Q1 - 1.5 * IQR
#### Üst limit = Q3 + 1.5 * IQR


#### IQR = Q3 - Q1


#### Q1  = percentile % 25 (veri setinin ilk çeyreğinin son elemanı yani veri setinin başlangıcından median(ortanca) değere kadarki kısmın median'ı.)
#### Q2 = percentile % 50 (sıralı veri setinin ortası, 2. çeyreğin son elemanı)
#### Q3 = percentile % 75 (veri setinin 3. çeyreğinin son elemanı, 4. çeyreğin ilk elemanı  yani verisetinin median'ından son değeri kadarki kısmın median'ı)

#

In [1]:
import pandas as pd

In [2]:
#verisetimizi alıyoruz
df = pd.read_csv("outlierOrnekVeriseti.csv", sep=";")
df

      isim  boy
0      can   88
1      ali  132
2    tugce  134
3     ayse  137
4    nihan  139
5    sahin  142
6     kaan  142
7     emre  144
8    bartu  147
9   ismail  148
10  gokalp  149
11   osman  149
12   filiz  150
13    veli  207
14   ilker  234

In [3]:
#ortalama verileri bu şekilde alabiliriz
df.describe()

              boy
count   15.000000
mean   149.466667
std     32.943386
min     88.000000
25%    138.000000
50%    144.000000
75%    149.000000
max    234.000000

### Q1 (%25 percentile)

In [4]:
Q1 = df.boy.quantile(0.25)
Q1

138.0

### Q3 (%75 percentile)

In [5]:
Q3 = df.boy.quantile(0.75)
Q3

149.0

### IQR

In [6]:
IQR = Q3 - Q1
IQR

11.0

### Alt Limit

In [7]:
altLimit = Q1 - 1.5 * IQR
altLimit

121.5

### Üst Limit

In [8]:
ustLimit = Q3 + 1.5 * IQR
ustLimit

165.5

#### Median

In [9]:
median = df.boy.quantile(0.50)
median

144.0

## Outlier (aykırı) değerleri filtreleme

In [10]:
dfOutliers = df[(df.boy < altLimit) | (df.boy > ustLimit)]
dfOutliers

     isim  boy
0     can   88
13   veli  207
14  ilker  234

## Outlier değerleri dataset'den çıkarma

In [11]:
dfFiltrelenmiş = df[(df.boy > altLimit) & (df.boy < ustLimit)]
dfFiltrelenmiş

      isim  boy
1      ali  132
2    tugce  134
3     ayse  137
4    nihan  139
5    sahin  142
6     kaan  142
7     emre  144
8    bartu  147
9   ismail  148
10  gokalp  149
11   osman  149
12   filiz  150